@mixin navbar-nav-links($color, $color-hover) {
	color: $color;

	&:hover { color: $color-hover; }
}
%navbar-nav-li {
	padding-top: 0;
	padding-bottom: 0;
	margin-left: 16px;
	margin-right: 16px;
}

%navbar-nav-li-active {
	border-bottom: 3px solid white;
}

.nav > li > a {
	padding-right: 0;
	padding-left: 0;
	font-size: 20px;
}

.navbar-nav > li {
	@extend %navbar-nav-li;

	&:active {
		@extend %navbar-nav-li;
	}
}

.navbar-nav {
	@include respond-to('small') {
		float: right;
	}

	@include respond-to('medium') {
		float: right;
	}

	@include respond-to('large') {
		float: right;
	}

	float: left;

	> li {
		background-color: transparent;

		&:hover {
			@extend %navbar-nav-li-active;
			background-color: transparent;
		}

		&.active {
			@extend %navbar-nav-li-active;

			a {

				&:hover { background-color: trnasparent; }
			}
		}

		a {

			&:hover { background-color: transparent; }
		}

		a { @include navbar-nav-links(white, white); }
	}
}