//// Navbar Brand
@mixin navbar-brand($color, $color-hover) {
	color: $color;

	&:hover { color: $color-hover; }
}


%navbar-brand {
	height: auto;
	width: 32px;
	padding: 0;
	display: inline-block;
	margin-right: 1em;

}

.navbar-brand>img {
	@extend %navbar-brand;
}
.navbar-brand {
	@include navbar-brand(white, white);
}