.bp-image {
	@include respond-to('small') {
		height: 320px;
	}

	@include respond-to('medium') {
		height: 400px;
	}

	@include respond-to('large') {
		height: 588px;
	}

  height: 240px;
  width: 100%;
}

#hero {
	background-image: url('../img/stock/AdobeStock_121563629.jpeg');
	background-color: transparent;
	background-repeat: no-repeat;

	/* lt ie8 */
	-ms-background-position-x: center;
  -ms-background-position-y: bottom;
  		background-position: center bottom;

  /* scale bg image proportionately */
  background-size: cover;

  /* ie8 workaround - http://louisremi.github.io/background-size-polyfill/ */
  -ms-behavior: url(https://cdn.css-tricks.com/backgroundsize.min.htc);
  /* prevent scaling past src width (or not) */
  /* max-width: 1200px; */
}