%contact-settings {
	height: 100%;
	width: 100%;
	display: block;
	max-height: 667px;
	overflow: hidden;
	z-index: 0;
}
%contact-color-settings {
	color: white;
	background-color: #114877;
}


%contact-gradient {
	background:
		linear-gradient(
			to left,
			rgba(32,117,170,1) 0%,
			rgba(12,45,65, .7) 60%,
			rgba(0,0,0,1) 100%
		),
		url('../../img/stock/background-@1x.jpg');
	-ms-background-position-x: center;
	-ms-background-position-y: bottom;
		background-position: center bottom;
	background-size: cover;
	//-ms-behavior: url(background-size.min.htc);
	background-position: 40% 60%;
}

#contact_page {
	@extend %contact-settings;
	@extend %contact-color-settings;
	@extend %contact-gradient;

	.brand-group {
		margin: 0 auto 198px;
		display: block;
		width: 128px;
		height: auto;
		padding-top: 259px;

		> .logo {
			width: 128px;
			height: auto;
			display: block;
			margin-bottom: 20px;
		}

		> .hb {
			font-size: 22.5px;
			text-align: center;
		}

		@include respond-to('small') {
			display: none;
		}
		@include respond-to('medium') {
			display: none;
		}
		@include respond-to('large') {
			display: none;
		}
	}
}