#about {

	p {
		margin-top: 32px;

		@include respond-to('small') {
			margin-top: 71px;
		}
		@include respond-to('medium') {
			margin-top: 71px;
		}
		@include respond-to('large') {
			margin-top: 71px;
		}
	}

	.portrait {
		display: block;
		margin: auto;
	}

	.portrait h2 {
		text-align: center;
		font-size: 24px;
	}

	.portrait img {
		width: 200px;
		height: auto;

		@inlcude respond-to('small') {
			width: 230px;
			height: auto;
		}
		@inlcude respond-to('medium') {
			width: 230px;
			height: auto;
		}
		@inlcude respond-to('large') {
			width: 230px;
			height: auto;
		}
	}

	> .container > .row {

		.call-to-top {
			margin: 0 auto;
			display: block;
			width: 32px;
			height: auto;
			padding: 0;
			font-size: 48px;
			cursor: pointer;
			color: #333;

			> .fa {
				margin: 0;
				display: block;
			}

			@include respond-to('small') {
				display: none;
			}
			@include respond-to('medium') {
				display: none;
			}
			@include respond-to('large') {
				display: none;
			}		
		}
	}
}