%hero-settings {
	height: 667px;
	width: 100%;
	display: block;
	max-height: 667px;
	overflow: hidden;
	z-index: 0;
}
%hero-color-settings {
	color: white;
	background-color: #114877;
}


%hero-gradient {
	background: url('../../img/stock/AdobeStock_102383951.jpeg');
	-ms-background-position-x: center;
	-ms-background-position-y: bottom;
		background-position: center bottom;
	background-size: cover;
	//-ms-behavior: url(background-size.min.htc);
	background-position: 40% 60%;
}

#hero {
	@extend %hero-settings;
	@extend %hero-color-settings;
	@extend %hero-gradient;

	#contact { display: none; }

	.brand-group {
		margin: 0 auto 198px;
		display: block;
		width: 128px;
		height: auto;
		padding-top: 259px;

		> .logo {
			width: 128px;
			height: auto;
			display: block;
			margin-bottom: 20px;
		}

		> .hb {
			font-size: 22.5px;
			text-align: center;
		}
	}

	.call-to-action {
		margin: 0 auto;
		padding: 0;
		font-size: 24px;
		cursor: pointer;
		text-align: center;

	}
	.call-to-action.group {
		width: 100%;
		display: block;

		.btn.btn-kh {
			margin: auto auto 30px;
			
			&#scrollTo_services {
				float: none;
				display: block;

				@include respond-to('small') {
					float: none;
					display: block;
				}
				@include respond-to('medium') {
					float: none;
					display: block;
				}
				@include respond-to('medium') {
					float: none;
					display: none;
				}
			}

			&#to_Contactus {
				float: none;
				display: none;

				@include respond-to('small') {
					float: none;
					display: none;
				}
				@include respond-to('medium') {
					float: none;
					display: block;
				}
				@include respond-to('small') {
					float: none;
					display: block;
				}
			}
		}
	}
}