%kh-button-theme {
	color: #F5F5F5;
	background-color: #2980B9;
	font-weight: 400;
	padding: 24px auto;
	margin: auto auto 20px;
	float: none;
	border: none;
	text-decoration: none;
	width: 220px;
}
.btn-kh {
	@extend %kh-button-theme;
	@include border-radius(6px);
}