%form-gradient {
	background:
		linear-gradient(
			to left,
			rgba(32,117,170,1) 0%,
			rgba(12,45,65, .7) 60%,
			rgba(0,0,0,1) 100%
		),
		url('../../img/stock/background-@1x.jpg');
	-ms-background-position-x: center;
	-ms-background-position-y: bottom;
		background-position: center bottom;
	background-size: cover;
	//-ms-behavior: url(background-size.min.htc);
	background-position: 40% 60%;
}

#hero > #contact {
	display: none;
	padding-top: 207px;

	@include respond-to('small') {
		display: block;
	}
	@include respond-to('medium') {
		display: block;
	}
	@include respond-to('large') {
		display: block;
	}
}
.form-control {
	@include border-radius(0px);
	background-color: transparent;
	color: white;
	border: none;
	border-bottom: 1px solid white;
	padding: 38px 0 18px;
	height: 50px;
	font-size: 16px;
	-webkit-box-shadow: none;
					box-shadow: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea.form-control {
	@include transition-property(all);
	@include transition-duration(.30s);
	@include transition-timing-function(ease-in-out);
	outline: none;

	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: rgba(white, 0.65);
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: rgba(white, 0.65);
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: rgba(white, 0.65);
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: rgba(white, 0.65);
	}

	&:focus {
		@include box-shadow(none);
		padding: none;
		border-bottom-color: rgba($brand-primary, 1);
	}
}

input[type="submit"],
textarea.form-control {
	margin-bottom: 15px;
}
textarea.form-control {
	margin-bottom: 0;
}
#contactForm {
	width: 100%;

}


.full-form {
	@extend %form-gradient;
	background-color: #333 !important;
	color: #FFF;
	z-index: 15;

	/* Closes the form */
	.nav-bar > .container > .toggle-item {
		font-size: 24px;
		float: right;
		margin-top: 18px;
	} 

	.form-wrapper > #contactForm {
		margin-top: 30px;
	}
}
.full-form {
	visibility: hidden;
  	display: table;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
			transition: all 0.5s ease;

	&--open {
		visibility: visible;
		opacity: 1;

		.success-group {
			text-align: center;
			color: white;

			> h1 {

				.fa {
					font-size: 64px;
					float: left;
				}
			}

			> h2 {
				font-size: 20px;
			}
		}
	}
	&--middle {
		display: table-cell;
		vertical-align: middle;

		> .row > .contact-item-group {
			position: relative;

			.fa,
			.phone-number {
				position: absolute;
			}
			.fa {
				font-size: 32px;
				margin: 0 16px 0 0;
			}

			.phone-number {
				font-size: 20px;
				left: 32px;
				top: 3px;
			}
		}
	}
}