.form-control {
	@include border-radius(0px);
	background-color: transparent;
	color: white;
	border: none;
	border-bottom: 1px solid white;
	padding: 38px 0 18px;
	height: 50px;
	font-size: 16px;
	-webkit-box-shadow: none;
					box-shadow: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea.form-control {
	@include transition-property(all);
	@include transition-duration(.30s);
	@include transition-timing-function(ease-in-out);
	outline: none;

	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: rgba(white, 0.65);
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: rgba(white, 0.65);
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: rgba(white, 0.65);
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: rgba(white, 0.65);
	}

	&:focus {
		@include box-shadow(none);
		padding: none;
		border-bottom-color: rgba($brand-primary, 1);
	}
}

input[type="submit"],
textarea.form-control {
	margin-bottom: 15px;
}
textarea.form-control {
	margin-bottom: 0;
}
#contactForm {
	width: 100%;

}