@mixin overlay-color($bgcolor, $bgcolor-fallback) {
	background-color: $bgcolor-fallback;
	background-color: $bgcolor;
}

%overlay {
	height: 100%;
	width: 0;
	position: fixed; // Stay in place
	z-index: 1; // Sit on top
	left: 0;
	top: 0;
	overflow-x: hidden; // Disable horizontal scroll
}

%navigation {
	width: 100%;
	height: 60px;
	display: none; // change to block to display
	z-index: 10;
}

%fixed-pos {
	position: fixed;
	left: 0;
	top: 0;
}
.overlay {
	@extend %overlay;
	@include transition-duration(0.5s);
	@include overlay-color($brand-primary, rgba($brand-primary, 0.9));
}

.navigation {
	@extend %fixed-pos;
	@extend %navigation;
	@include transition-property(background-color);
	@include transition-duration(0.4s);
	@include transition-timing-function(ease);
}

.nav-bar {
	display: block;
	font-size: 24px;
	color: white;

	@include respond-to('small') {
		display: none;
	}
	@include respond-to('medium') {
		display: none;
	}
	@include respond-to('large') {
		display: none;
	}

	.toggle-contact,
	.toggle-nav {
		margin-top: 18px;
		cursor: pointer;
	}
	.toggle-contact {
		float: right;
		color: white;
		text-decoration: none;
		&:hover {
			color: white;
			text-decoration: none;
		}

	}
	.toggle-nav {
		float: left;
	}
}

.desktop-nav {
	display: none;

	@include respond-to('small') {
		display: block;
	}
	@include respond-to('medium') {
		display: block;
	}
	@include respond-to('large') {
		display: block;
	}

	.container > .brand-group {
		display: inline-block;
		width: auto;
		height: 25.125px;
		margin-top: 17.5px;
		float: left;
		color: white;

		> .logo {
			width: 32px;
			height: auto;
			display: inline-block;
			margin-right: 16px;
		}

		> .hb {
			display: inline-block;
			text-align: left;
		}

		> .hb > h1 {
			font-size: 16px;
			margin: 0;
		}
	}

	.container > .desktop-nav-menu {
		float: right;
		margin: 0;
		display: inline-block;

		> .nav-list {
			list-style: none;
			padding-left: 0;
			margin-top: 18px;
		}

		> .nav-list > li {
			@include transition-property(border-bottom);
			@include transition-duration(0.3s);
			@include transition-timing-function(ease);
			display: inline-block;
			margin: 0 16px;
			border-bottom: none;
			border-bottom-color: white;

			&:first-of-type {
				display: none;
			}
			&.active {
				border-bottom: 2px solid white;

				> a {
					color: white;
					text-decoration: none;
				}
			}

			&:hover {
				border-bottom: 2px solid white;

				> a {
					color: white;
					text-decoration: none;
				}
			}

			&:last-of-type {
				margin-right: 0;
			}

			> a {
				color: white;
				text-decoration: none;
			}
		}
	}
}

.full-menu {
	@extend %form-gradient;
	color: #FFF;
	z-index: 15;

	/* Closes the form */
	.nav-bar > .container > .toggle-nav {
		font-size: 24px;
		float: left;
		margin-top: 18px;
	} 
}

.full-menu {
	visibility: hidden;
  	display: table;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
			transition: all 0.5s ease;

	.container > .row > .col-xs-12.nav-column {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.container > .row > .col-xs-12 > .nav-menu {
		list-style: none;
		padding-left: 0;
		margin-top: 10px;

		> li {
			display: block;
			position: relative;
			height: 50px;
			width: 100%;
			border-bottom: white 1px solid;

			&:first-of-type {
				border-top: white 1px solid;
			}

			a {
				@include transition-property(background-color);
				@include transition-duration(0.3s);
				@include transition-timing-function(ease);
				positoin: aboslute;
				width: 100%;
				height: 100%;
				display: block;
				color: white;
				padding-left: 15px;
				padding-top: 12px;
				text-decoration: none;
				background-color: transparent;
			}

			&:hover > a {
				color: white;
				text-decoration: none;
				background-color: rgba(white, .25);

			}
		}

	}

	.container > .row > .col-xs-12 > .contact-item-group {
		position: relative;

		.fa,
		.phone-number {
			position: absolute;
		}
		.fa {
			font-size: 32px;
			margin: 0 16px 0 0;
		}

		.phone-number {
			font-size: 20px;
			left: 32px;
			top: 3px;
		}
	}
	.container > .row > .col-xs-12 > a.social-media {
		float: right;
		position: relative;
		display: inline-block;
		color: white !important;
	}
}
.full-menu--open {
	visibility: visible;
	opacity: 1;
}
.navigation > .nav-bar > .container > .contact-link {
	color: white;
	float: right;
	margin-top: 18px;
}


