$body-text: #424242;
$body-alt: #F5F5F5;
$body-text-lt: #9E9E9E;

$primary-color: #2980B9;
$primary-color-highlight: #3498DB;
$accent-color: #2C3E50;
$accent-color-highlight: #34495E;
$neutral-color: #BDC3C7;